#main {
    height: 100vh;
    /* width: 100vw; */
    background-color: rgb(230, 227, 228);
}

img {
    float: left;
    padding-left: 8px;
  }

#fancytext {
    font-family: 'DM Serif Text' !important;
    letter-spacing: 2px;
    /* font-size: 1.5em; */
}

.buttholes {
    right: 1em;
    color: magenta;
    z-index: 100;
  }


@media (max-width: 640px) {
    .maincon {
      margin: 30px !important;
    }

    /* .card-title {
        height:30%;
        width: 100%;
        background-color:rgb(235, 20, 20);
        opacity: 100%;
    } */


   
      
  
    /* body {
      padding:0;
    }

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
      margin-left: 0;
      margin-right: 0;
      margin-bottom:0;
    } */
}
