#main {
    height: 100vh;
    
    background-color: rgb(230, 227, 228);
}
/* #fillplease {
    background-color:lightblue;
} */

img {
    float: left;
    padding-left: 8px;
  }
#fancytext {
    font-family: 'DM Serif Text' !important;
}


