body {
    background-color: rgb(205, 207, 211);
}

.navbar-brand {
    /* background-color: hotpink; */
    margin-top: 0px;
    margin-left: 20px;
}



#maincon {
    background-color: white;
    margin: 30px;
    padding: 15px;
    width: 70%;
}

img {
    float: left;
    padding-left: 8px;
  }

  hr { 
    border-width: 2px;
  } 


  #sticky-footer {
    flex-shrink: none;
  }

/* #headings {
      color: hotpink;
  } */